<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Patient System</title>
</head>
<style>
    #input_boxes{
        position: fixed;
        top: 50%;
        left: 50%;
        margin-top: -100px;
        margin-left: -200px;
        line-height: 2;
    }
    #input_boxes input{
        border: 1px solid black;
    }
    #wholewrapper{
        width: auto;
        height: 900px;
        background-color: sandybrown;
    }
    #login_button{
    }

</style>
<body>
<div id="wholewrapper">
    <form th:action="@{/Search}" th:object="${loginForm}" method="post">

        <div class="container" id="input_boxes">
            <label  for="username"><b>Username</b></label>
            <input type="text"  id="username" placeholder="Enter Username" name="username">
            <br>
            <label  for="password"><b>Password</b></label>
            <input  type="password" id="password" placeholder="Enter Password" name="password">
            <br>
            <input type="submit" value="Log In"/>
        </div>
    </form>
</div>
</body>
</html>