<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AdminPage</title>
    <style>
        header{
            background-color: white;
            border-bottom: 5px solid #e20000;
              }
        #sdLogo {height: 100px;, width: 100 px;}
        body {background-color: white;}
        form{
            height: 150px;
            width: 300px;
            margin: auto;
            }
        input{
            margin: auto;
            }
    </style>
</head>
<body>
<header>
<img id="sdLogo" src="../Stairway Danmark Logo.jpg"/>
</header>
<form action="/">
    <div id="input">
    <p>Username:</p>
    <input type="text">
    <p>Password:</p>
    <input type="password">
    <input type="submit" value="Log ind">
    </div>
</form>
</body>
</html>