<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        header{
            background-color: white;
            border-bottom: 5px solid #e20000;
        }
        #sdLogo {height: 100px;, width: 100 px;}
        body {
            background-color: white;
        }
        #editbutton{
            margin-top: 25px;
            margin-left: 225px;
        }
        #memberForm{
            margin-left: 32%;
        }

    </style>
</head>
<body>
<table id="membertable">
<tr><th>Fornavn</th><td th:text="${member.firstName}"></td></tr>
    <tr><th>Efternavn</th><td th:text="${member.lastName}"></td></tr>
    <tr><th>Vej</th><td th:text="${member.street}"></td></tr>
    <tr><th>Postnummer</th><td th:text="${member.postalcode}"></td></tr>
    <tr><th>By</th><td th:text="${member.city}"></td></tr>
    <tr><th>Privat tlf.</th><td th:text="${member.privatephone}"></td></tr>
    <tr><th>Mobil tlf.</th><td th:text="${member.mobilephone}"></td></tr>
    <tr><th>Arbejdstlf.</th><td th:text="${member.workphone}"></td></tr>
    <tr><th>Job</th><td th:text="${member.job}"></td></tr>
    <tr><th>Fax</th><td th:text="${member.fax}"></td></tr>
    <tr><th>Email</th><td th:text="${member.email}"></td></tr>
    <tr><th>Besked</th><td th:text="${member.description}"></td></tr>
    <tr><th>Sidst betalt kontigent</th><td th:text="${member.lastpayed}"></td></tr>
    <tr><th>Medlemstatus</th><td th:text="${member.memberstatus}"></td></tr>
    <tr><th>Frivillig status</th><td th:text="${member.volunteerstatus}"></td></tr>




</table>

</body>
</html>